:root {
  --primary-color:#abcdff;
  --secondary-color:#009688;
  --size-radius:10px;
  --main-line:2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

.main_container {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.container {
    width: 1100px;
    margin:0 auto;
}

a {
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
} */

.theme {
  transition: .3s linear;
  min-height:100vh;
}

.light {
  background-color: #FFF;
  color:#111;
}

.dark  {
  background-color: #111;
  color:#fff;
}




@media (max-width:767px){
  .container {
    width: 100%;
  }
}

/* @media (min-width:768px) and (max-width:991px){
  .container {
    width:100%;
  }
}

@media (min-width:992px){
  .container {
    width: 1100px;
  }
} */
