.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.link {
    display: inline-block;
    padding: 10px;
    color:#999;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: .2s linear;
    border-radius: 10px;
}

.link:hover {
    background-color: var(--secondary-color);
}