.page_container{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 100px; */
}

.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.link {
    display: inline-block;
    padding: 10px;
    color:#999;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: .2s linear;
    border-radius: 10px;
}

.link:hover {
    background-color: var(--secondary-color);
}

@media (max-width:768px){
    .page_container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .links {
        padding:20px;
    }
}