 .page_container{
    width:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.footer {
    width:1100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:20px 10px;
    gap: 30px;
    font-size:16px;
    position:relative;
    bottom:0;
    box-shadow:0 0 3px #eace;
    color:#999;
    font-weight: bold;
}

.social_media {
    display:flex;
    align-items:center;
    gap:10px;
}

.social {
    opacity:.6;
    cursor:pointer;
    transition: .3s ease-in;
}

.social:hover {
    opacity: 1;
}

@media (max-width:768px){
  .page_container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width:100%;
  }

  .footer {
    width: 100%;
  }
}

@media (min-width:769px) and (max-width:991px) {
  .page_container {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width:100%;
  }

  .footer {
    width: 100%;
  }
}
   